.wrap{
    position:relative;
    display:inline-block;
  }
  .popover{
    display:none;
    border:1px solid blue;
    position:absolute;
    top:0;
    left:100%;
    white-space:nowrap;
    padding:10px;
    margin-left:15px;
    background: white;
  }
  .popover::before{
    content:'';
    position:absolute;
    top:0;
    right:100%;
    border:10px solid transparent;
    border-right-color:blue;
    margin-top:5px;
  }
  .popover::after{
    content:'';
    position:absolute;
    top:0;
    right:100%;
    border:10px solid transparent;
    border-right-color:white;
    margin-right:-1px;
     margin-top:5px;
  }